<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="MageSuite_Changelog::changelog"
                title="MageSuite Changelog"
                module="MageSuite_Changelog"
                sortOrder="40"
                parent="Magento_Backend::system_tools"
                action="changelog/changelog/index"
                resource="Magento_Backend::content" />
    </menu>
</config>
