<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="changelog" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Changelog</label>
            <tab>magesuite</tab>
            <resource>MageSuite_Changelog::config_settings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Changelog enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When disabled, XML data will not be gathered, you will only see changelog entries that has been collected before disabling.</comment>
                </field>
                <field id="tracker_url" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracker URL</label>
                    <tooltip>Full URL to your tracker URL, ticket_id will be added to this url, for example: https://jira.atlassian.com/</tooltip>
                    <depends>
                        <field id="changelog/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
